@import "_setup/variables";
@import "_setup/mixins";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Basic
====================================================================================================*/

html {
	background: $grey-80; /* same as bottom element of footer */
}

body {
	font-family: $p-font;
	color: #fff;
	background: $grey-80; /* same as header/main/footer, only shows on iOS overscroll */
	margin: 0 auto;
	opacity: 1;
	transition: 0.7s opacity;
	
}

body.fade {
    opacity: 0;
    transition: none;
}

/*
Use "wrapper" to wrap content that's full-width on mobile, but centered at max-width on desktop
*/

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 125rem;
}


/* Type
----------------------------------------------------------------------------------------------------*/

/* Paragraph
--------------------------------------------------*/
p {
	padding-bottom: 0.75rem;
	line-height: 1.75;
	letter-spacing: 1px;
	font-weight: 300;
	color: #000;
	font-size: 1rem;
}

li {
	line-height: 1.75;
	letter-spacing: 1px;
	font-weight: 300;
	color: #000;
	font-size: 1rem;
}

/* Content Lists
--------------------------------------------------*/


/* Strong, Em
--------------------------------------------------*/
strong {
	font-weight: 700;
	
	@include tablet_size() {
		font-weight: 500;
	}
}

em {
	font-style: italic;
}

/* Hyperlinks
--------------------------------------------------*/
a {
	text-decoration: none;
	color: #000;
	font-weight: 600;
	
	&:hover,
	&:focus {
		color: $light-blue;
		transition: ease-in-out .2s;
	}

}

/* Superscript
--------------------------------------------------*/
sup {
	font-size: 50%;
	line-height: 0;
	position: relative;
	top: -0.3em;
	vertical-align: super;
}

/* Screen reader text
--------------------------------------------------*/
.screen-reader-text {
    clip: rect(0.06rem, 0.06rem, 0.06rem, 0.06rem);
    height: 0.06rem;
    overflow: hidden;
    overflow-wrap: normal !important;
    position: absolute !important;
    width: 0.06rem;
}

img {
	display: block;
	width: 100%;
	height: auto;
}


	
	/* Headings */
h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #fff;
  font-family: $h-font, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;

}

h1 { 
	font-size: 2.25rem;
	font-weight: 400;
	line-height: 2.25rem;
	color: $light-blue;
	margin: 0;
	
	@include tablet_size () { /* TABLET */
		font-size: 3rem;
		letter-spacing: .2rem;
		line-height: 3.5rem;
		font-weight: 500;
	}
}

h2 {
	font-size: 1.5rem;
	line-height: 1.75rem;
	
	@include tablet_size () { /* TABLET */
		font-size: 1.75rem;
		line-height: 2rem;
	}
 }
  
h3 {
	font-size: 1.75rem;
	line-height: 2rem;
	
	@include tablet_size () { /* TABLET */
		font-size: 2rem;
		line-height: 2.25rem;
	}
}

h4 { // Footer headings
	font-size: 1.25rem;
	margin: 0;
	margin-bottom: 1rem;
	letter-spacing: 2px;
	border-bottom: 1px solid $light-blue;
	width: fit-content;
}

h5 {
	font-family: $p-font;
	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: inherit;
	font-weight: 500;
}

h6 {
	font-size: 1.5rem;
	line-height: 2rem;
}


/* Blockquote
--------------------------------------------------*/
blockquote {
	background: #fff;
	border-radius: 3px;
	padding: 0.5rem 1rem 1rem;
	margin: 0.5rem 0 1.75rem;

	&:before {
		content: '"';
		font-size: 4rem;
		display: block;
		font-weight: 700;
		color: $grey-40;
		margin-bottom: -1rem;
	}
	
	p {
		font-style: italic;
		font-weight: 500;
		color: #000;
	}
}

/* Horizontal row
--------------------------------------------------*/
hr {
}


