@import "_setup/variables";
@import "_setup/mixins";

.contactsplash {
	  /* Grid styles */
		display: grid;
		align-items: center;	
		height: 20rem;
		background: $light-gray;
  
	.heading {
	  	text-align: center;
	}
}
 
.contactform {
	margin: 0 auto;
	max-width: 70rem;
	padding: 1.5rem;
	font-family: $p-font;
}