@import "_setup/variables";
@import "_setup/mixins";

.site-footer {
	
	#footer-content {
		background-color: $navy;
		
		.footer-container {
			display: grid;
			padding: 3rem 0;
		
			@include full_size() {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
	
	#companyslogan {
		
		img {
			width: auto;
			height: 3.5rem;
		}
		
		p {
			font-size: 1.5rem;
			font-family: $h-font;
			text-transform: uppercase;
			color: #fff;
			line-height: 1;
			
			span {
				font-size: .675rem;
				font-family: $p-font;
			}
		}
		
	}
	
	#footer-links {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		
		ul {
			padding: 0;
			margin: 0;
			
			li{
				list-style: none;
				line-height: 1.5;
				
				a {
					font-size: .75rem;
					color: #fff;
					text-transform: uppercase;
				}
			}
		}
	}	
	
	#socialmedia {
		display: flex;
		justify-content: center;
		
		a {	
			padding-left: 1rem;
			font-size: 1.5rem;
			color: #fff;
			
			i {
				
				&:hover {
					transition: .2s;
					color: $light-blue;
				}
			}
		}
	}
	
	#footer-disclaimer {
		background-color: #fff;
		
		#disclaimer {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			
			p {
				padding-bottom: 0;
				font-size: .75rem;
			}
			
			#terms {
				text-align: right;
			}
		}
	}
}