
@import "_setup/variables";
@import "_setup/mixins";

/* Form Defaults

Styles targeted to Formidable plugin.
Form resets found in /_basic/_reset.scss
====================================================================================================*/
.form-field {
	clear: both;
	margin: 0 0 1.25rem;
	overflow: hidden;
}

label {
	display: block;
	font-size: 0.75rem;
	padding: 0 0 0.5rem;
	text-transform: uppercase;
	
	.frm_required {
		color: $alert-color;
	}
}

input,
textarea,
select {
	background: #fff;
	border: 0.1875rem solid $grey-25;
	border-radius: 0.5rem;
	color: $grey-50;
	display: inline-block;
	font-size: 1.125rem;
	line-height: 1.25;
	padding: 0.75rem 0.875rem;
	width: 100%;
	font-family: inherit;
	transition: background 0.2s ease, color 0.2s ease, border 0.2s ease;
	
	&:hover {
		border-color: $grey-50;
	}
	
	&:focus {
		border-color: #000;
		color: $grey-75;
		outline: none;
	}
	
	&::-moz-focus-inner {
		border: 0;
	}
}

/* Select / dropdown
----------------------------------------------------------------------------------------------------*/
select {
	background: url('images/chevron-down.svg') right center no-repeat #fff;
	background-size: auto 0.5rem;
	padding-right: 2rem;
	position: relative;
}

/* Checkbox / radio
----------------------------------------------------------------------------------------------------*/
.vertical_radio, 
.horizontal_radio {
	
	.frm_primary_label {
		// Style to match basic <label> styling
		font-size: 0.75rem;
		padding-bottom: 0.5rem;
		text-transform: uppercase;
	}
}

.frm_checkbox,
.frm_radio {
	
	label {
		// Style to UNDO any extra <label> styling
		display: flex;
			align-items: center;
		font-size: 1rem;
		margin: 0;
		padding: 0.25rem 0 0.5rem;
		text-transform: none;
		
		input[type="checkbox"] {
			height: 1.75rem;
			margin: -0.25rem 0.5rem 0 0;
			padding: 0;
			position: relative;
			width: 1.75rem;
			
			&:before {
				@include fontawesome($font-awesome-pro, 900, '\f00c');
				color: transparent;
				font-size: .875rem;
				position: absolute;
					left: 0.25rem;
					top: 0.1rem;
				transition: color 0.2s ease;
			}
			
			&:checked {
				background: #000;
				
				&:before {
					color: #fff;
				}
			}
		}
		
		input[type="radio"] {
			border-radius: 50%;
			height: 1.75rem;
			margin: -0.25rem 0.5rem 0 0;
			padding: 0;
			width: 1.75rem;
			display: flex;
				justify-content: center;
				align-items: center;
			
			&:before {
				background: transparent;
				content: '';
				display: block;
				width: 0.875rem;
				height: 0.875rem;
				border-radius: 50%;
				transition: background 0.2s ease;
			}
			
			&:checked {
				
				&:before {
					background: #000;
				}
			}
		}
	}
}

/* Errors
----------------------------------------------------------------------------------------------------*/
.frm_blank_field {
	
	label,
	input,
	textarea,
	select {
		border-color: $alert-color;
		color: $alert-color;
	}
}

.frm_error {
	color: $alert-color;
	font-size: 0.875rem;
	padding: 0.5rem 0 0;
}

/* Buttons
----------------------------------------------------------------------------------------------------*/
// Looking for advanced button styles? Copy/paste from here: https://codepen.io/collection/XgGwYM

.button,
input[type="submit"],
input[type="button"] {
	font-family: $h-font;
	font-size: 2rem;
	letter-spacing: 0.05rem;
	font-weight: 800;
	background: $navy;
	border: 0.25rem solid $navy;
	border-radius: 0.5rem;
	color: $tan;;
	cursor: pointer;
	display: inline-flex;
		align-items: center;
		justify-content: center;
	font-size: 1rem;
	line-height: 1.25;
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
	width: 20rem;
	margin-top: 1.5rem;
	margin-left: calc(90% - 20rem);
	transition: all .2s ease;
	
	&:hover,
	&:focus {
		background: $tan;
		border-color: $tan;
		color: $navy;
		outline: none;
	}
	
	&::-moz-focus-inner {
		border: 0;
	}
	
	&.secondary {
		background: none;
		color: #000;
		
		&:hover,
		&:focus {
			color: $grey-50;
		}
	}
	
	i {
		height: 1.25rem;
	}
	
	.button-text {
		display: block;
		text-align: center;
	}
}

