@import "_setup/variables";
@import "_setup/mixins";

.page-template-page-home {
	nav {
		background-color: transparent;
	}
}

.current-menu-item a { // Bolds the Page you're on
	color: $light-blue !important;
	font-weight: 700 !important;
}

.topcallout{
	font-family: $h-font;
	position: relative;
    text-align: center;
    padding: .5rem;
    font-size: 1.2rem;
    background: $dark-navy;
    letter-spacing: .1rem;
    font-weight: 800;
    position: relative;
    z-index: 2;
    
    a {
	    color: $light-blue;
    }
}

/* Header
====================================================================================================*/

.header {
	padding: 0;
	margin: 0;
	top: 0;
	position: sticky;
	z-index: 10;
	background-color: $navy;
	
	/* Container for full nav */
	
	.nav-full{ 
		display: none;
		
		@include full_size() {
			display: grid;
			grid-template-columns: 1fr 3fr 1fr; // Equaly distances apart
			align-items: center;
		}
		
		.site-icon {
			
			svg {
				height: .75rem;
				
				.cls-1 {
					.cls-2 {
						fill: #fff;
					}
				}
			}
			
			svg:hover {
			}			
		}
		
		/* Menu in center */
		
		.menu {
			display: flex;
			flex-direction: column;
			text-transform: uppercase;
			font-family: $h-font;
			
			#menu-item-1323 { // Removes "home" from menu
				display: none;
			}
			
			
			ul {
			    display: flex;
				margin: 0 auto;
				padding: 0;
				
				li {
				    margin: 0 1rem;
					text-decoration: none;
					list-style: none;
					padding: .5rem 0 .8rem 0; // Weird centering problem so I made up for it with a little more padding
					
					 .active {
					    color: #fff;
					    font-weight: 600;
				    }
	    
			    
				    a {
				    	color: $grey-20;
				    	font-weight: 400;
						letter-spacing: 3px;
				    	font-size: .8rem;
				    	display: inline-block;
				    	
						&:after {
						    content: '';
						    display: block;
						    width: 0;
						    height: 2px;
						    background: #fff;
						    transition: width .3s;
						}
						
			    		&:hover:after {
				    		width: 100%;
							//transition: width .3s;
			    		}
			    		
			    		&:hover {
				    		color: #fff;
			    		}
					}
				}
			}
		}

		/* Right side of header */
		
		.account-info {
			justify-self: right;
			display: flex;
			
			.shop-icon {
				padding-right: 1rem;
				align-self: center;
						
				&:before {
					content: '\f07a';
					font-family: $font-awesome-pro;
					color: $grey-20;
					font-weight: 300;
					font-size: 1.5rem;
					
					&:hover, &:focus {
						color: #fff;
						transition: .2s;
					}
				}
			}
			
			.account-icon {
				align-self: center;
				padding-right: 1rem;
			}
			
			.cart {
				display: flex;
				align-self: center;
				align-items: center;
			
				.cartnumber {
					background-color: $light-blue;
				    height: 1.5rem;
				    width: 1.5rem;
				    border-radius: 50%;
				    padding-bottom: 0;
				    text-align: center;
				    line-height: 1.6;
				    align-self: center;
				    
				    &:hover {
					    background-color: $light-blue;
					    transition: .3s;
				    }
				    
				    p {
					    font-size: 1.25rem;
					    line-height: 2.5rem;
					    font-weight: 500;
					    color: #fff;
					    margin: 0 auto;
					  
				    }
				}
			}
		}
	}

/* Mobile Menu
====================================================================================================*/	
	
	.mobile-nav {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		position: sticky;
		top: 0;
		background: #000;
		border-bottom: 1px solid #d0d0d0;
		
		@include full_size() {
			display: none;
		}
			
		.siteicon {
			align-self: center;
			justify-self: center;
			
			svg {
				height: 2.5rem;
				fill: #fff;
				position: relative;
				z-index: 10;
			}	
		}
		
		.cart {
			justify-self: right;
			display: flex;
			padding-right: 1rem;
			
			p {
				padding-bottom: 0;
			}
			
			.shop-icon {
				padding-right: .875rem;
				margin: 0;
				align-self: center;
						
				&:before {
					content: '\f07a';
					font-family: $font-awesome-pro;
					color: $grey-20;
					font-weight: 700;
					font-size: 1rem;
					
					&:hover, &:focus {
						color: #fff;
						transition: .2s;
					}
				}
			}
			
			.cartnumber {
				background-color: $grey-30;
			    height: 2rem;
			    width: 2rem;
			    border-radius: 50%;
			    padding-bottom: 0;
			    text-align: center;
				align-self: center;
			    
			    &:hover {
				    background-color: $navy;
				    transition: .3s;
			    }
			    
			    p {
				    font-size: 1rem;
				    line-height: 2rem;
				    font-weight: 500;
				    color: #fff;
				    margin: 0 auto;
				  
			    }
			}
		}

		/* Trigger to make nav work - collapse.php */
		.mobile-nav-trigger{ 
			justify-self: left;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;		
			height: 60px;
			display: block;
			
			.hamburger {
				width: 100%;
				height: 100%;
				background-color: transparent;
			}
		}
		
		.account-buttons {
			text-align: center;
			
			#signup, #login {
				font-size: .875rem;
				margin-bottom: 0;
			}
			
		}
		
		/* Content within the hamburger dropdown */
		.hamburger-menu { 
			display: none;
			position: absolute;
			background-color: $grey-80;
			width: 100%;
			left: 0;
			top: 60px;
			list-style: none;
		    margin: 0;
		    height: 100vh;
		    overflow-x: hidden;
		    overflow-y: scroll;
		    
		    #hamburger-links {
				list-style: none;
				padding: 0;
				
				.current-menu-item {
					border-bottom: 2px solid $light-blue;	
					width: fit-content;	
						
					a {
						font-weight: 600;
					}
				}
				
				li {
					list-style: none;
					padding: 0;
					margin-bottom: 1rem;
					
					a {
						font-size: 1.5rem;
						color: #fff;
						
						&:hover {
							color: $light-blue;
							transition: .3s;
						}
					}
				}
				
				#menu-shop {
					border-top: 3px solid #000;
					padding-left: 0;
					padding-top: 1rem;
					padding-bottom: 4rem;
					
					a {
						&:before {
							padding-right: 1rem;
							font-size: 2rem;
						}
					}
					
					li:nth-of-type(1) a {
						
					  &:before {
						content: '\f2bd';
						font-family: $font-awesome-pro;
					  }
					}
					
					li:nth-of-type(2) a {
						
						&:before {
							content: '\f07a';
							font-family: $font-awesome-pro;
						}
					}
					
					li:nth-of-type(3) a {

						&:before {
							content: '\f49e';
							font-family: $font-awesome-pro;
						}
					}				
					
					#menu-item-1940 { // Logout link //
						display: none;
					}	
				}
			}
		}
	}	
}