@import "_setup/variables";
@import "_setup/mixins";


#backgroundoverlay{
	z-index: 11; /* anything above 1050*/
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	top: 0rem;
}


#newsmodal{
	
	@include big_mobile() {
		display: flex;
		justify-content: center;
	}
	
	&.visible {
   	display: block;
  	}
	
	.modalcontent{
		background-color: #fff;
		display: none; /* display none for it to work */ /* block for it to not */
		position: fixed;
		max-width: 70rem;
		z-index: 1051; /* anything above 1050*/
		margin: 2rem;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		
		.news-top {
			background-color: #EAEAEA;
			
			.js-close-modal{
				float: right;
				font-size: 3rem;
				padding: 1rem;
				color: #8d8d8d;
			}
			 
			.logoicon {
				width: 5rem;
				height: auto;
				margin: auto;
				padding: 1rem 0rem;
				
				.cls-1 {
					fill: $navy;
				}
			}
			
			p {
				text-transform: uppercase;
				letter-spacing: .5rem;
				text-align: center;
				font-size: 2rem;
				padding: 0 0 1rem 0;
				font-weight: 800;
				line-height: 2.3rem;
			}
		}	
			
		.news-bottom {
			background-color: #fff;
			padding: 2rem;
						
			.cta-news {
				background-color: $navy;
				
				p {
					color: white;
					font-weight: 100;
					letter-spacing: .3rem;
					font-size: 2rem;
					padding: 1rem;
					text-align: center;

					&:first-of-type {
						span {
							display: block;
							padding: 1rem 0;
							color: $tan;
							text-align: center;
							font-family: $h-font;
							font-weight: 800;
							letter-spacing: .8rem;
							font-size: 4rem;
							text-transform: uppercase;
							line-height: 4rem;
						}
					}
				
				}
				
				.emailsender {
					margin-top: 1rem;
					
					.frm_fields_container {
						display: flex;
						justify-content: center;
										
						input {
							height: 4.1rem;
							width: 22rem;					
						}
						
						.frm_button_submit {
							background-color: $tan;
							color: $navy;
							position: relative;
							height: 100%;
							display: block;
							border-radius: 0 4px 4px 0;
		
							
							&:before {
								position: absolute;
							    top: calc(50% - 1rem);
								left: calc(50% - 0.2rem);
								content: "\f0da";
								font-family: FontAwesome;
								fill: $navy;
								font-size: 2rem;
							}
							
							&:hover,
							&:focus {
							background-color: $light-blue;
							}
						}
						
					}
				}
				
				#frm_field_7_container{
					margin: 0;
					margin-right: -1.25rem;
					
					#field_ol2ro_label{
						padding: 0;
					}
				}
				
				.frm_submit {
					display: inline-block;
				}
				
					form input,
					form input:focus {
					 	padding: 3px 13px;
					    border: 0;
					    outline: 0;
					    font-size: small;
					}
					
					form input[type="email"] {
						margin-right: -10px;
						width: 300px;
						color: #a09f9f;
					}
					
					
					form input[type="submit"] {
						color: $navy;
						background-color: $tan;
						box-shadow: inset 0 0 0 transparent;
						transition: all .3s ease-in-out;
					}
					
					
					.email_submit {
						background-color: black;
						font-size: 3rem;
					}
					
					form input[type="submit"]:hover,
					form input[type="submit"]:focus {
					  background-color: #CCBA99;
					}
				
				.news-disclaimer{
					color: white;
					font-family: $p-font;
					font-size: 1rem;
					letter-spacing: .2rem;
					text-transform: none;
					padding: 3rem 3rem;
					text-align: left;
					max-width: 40rem;
				}
				
				
			}
			
		}
		
	}
}