
/* Splash module
----------------------------------------------------------------------------------------------------*/
#splash {
	background-color: #fff;
	
	.splash-container {
		color: #fff;
		position: absolute;
		text-align: center;
		z-index: 5;
		margin-bottom: 8rem;
		
		img,
		svg {
			margin: 0 0 2rem;
			width: 16rem;
		}
		
		.button-container {
			margin-top: 1rem;
			
			.button {
				margin: 0 0.125rem 0.5rem;
				background: transparent;
				border-color: $light-blue;
				border: 0.125rem solid;
				transition: 0.2s ease;
				color: $light-blue;
				margin-top: 1.5rem;
				font-family: $h-font;
				font-size: 1.75rem;
				font-weight: 400;
				
				&:hover,
				&:focus {
					color: $navy;
					background: $light-blue;
					border-color: $light-blue;
				}
			}
		}
	}
	
	
	/* Background
	--------------------------------------------------*/
	#slider-splash-background {
		position: relative;
			right: 0;
			bottom: 0;
			left: 0;
		z-index: 1;
		height: 100vh;
		padding: 1rem 0;
		
		.owl-stage-outer,
		.owl-stage,
		.owl-item {
			height: 100%;
		}
		
		.slide {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			width: 100%;
			
			@include full_size() {
				display: block;
			}
		}
	}
}