@import "_setup/variables";
@import "_setup/mixins";

.post {
	
	.title {
		color: $navy;
		padding: 4rem 0rem;
		text-transform: uppercase;
		background-color: #f0f0f0;
	}
}



.woocommerce {
	background-color: #fff;
	margin: 1rem;
	
	.woocommerce-checkout-payment {
		
		max-width: 30rem;
		
		img {
			height: auto;
			width: 20rem;
		}
	}
	
	.product-name {
		pointer-events: none;
		cursor: default;
		text-decoration: none;
		color: black;
	}
	.return-to-shop {
		display: none;
	}
	
	#coupon_code {
		height: 3rem;
	}
		
	.actions {
		
	}
	
	a.remove {
		color: $light-blue !important;
		background-color: $navy;
		border: 3rem;
		font-size: 2.5rem;
	}
	
	.cart-collaterals {
		display: flex;
	}	
	
	.PaymentRequestButton {
		
		PaymentRequestButton--dark {
			background-color: $light-blue;
		}
	}	
	
	a.button.alt{
		background-color: $navy;
		color: $light-blue;	
		width: auto;	
	}
		
	
}

.woocommerce-message {
	border-top-color: $light-blue;
	
	.woocommerce-message::before {
		color: $navy;
	}
}

a.button.wc-forward{
	color: $light-blue;
	text-align: center;
	background-color: $navy;
}

a.restore-item {
	color: $light-blue;
	text-decoration: underline;
}