@import "_setup/variables";
@import "_setup/mixins";

.splash {
  /* Photo by mnm.all on Unsplash */
  background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
  background-size: cover;

  /* Grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));	
  height: 80vh;
}

.grid-container{
	display: grid;
	background-color: black;
	padding: 15px;
	margin: 0 auto;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	grid-auto-rows: 45rem; 
	max-width: 130rem;
	
		@include tablet_size() {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 2rem;
		}
	
		@include full_size() {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 2rem;
		}
	
	
	.sample {
		color: $tan;
		background-color: #ff4f4f;
	}
	
	.sample:nth-child(even) {
		color: $tan;
		background-color: #931d1d;
	}
}	