@import "_setup/variables";
@import "_setup/mixins";


.sub-menu {
	background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
	padding: 2rem 0;
	
	@include tablet_size (){
		flex-direction: row;
	}
	
	a{
		padding: 2rem 0;
		width: 100%;
		font-size: 1.4rem;
		text-transform: uppercase;
		font-family: $h-font;
		transition: 0.2s ease;
		
		@include big_mobile() {
			font-size: 1.75rem;
		}
		
		&.active {
			border-bottom: 2px solid #000;
			color: #000;
			font-weight: 800;
			outline: none;
		}
	}
	
	.filter {
		display: flex;
		width: 80%;
	}
}

.test {
	display: none;

.about-members {
	width: calc(100% - 2rem);
	display: flex;
	padding: 4rem 0rem;
	flex-direction: column;

	
	&.active {
		display: flex;
		flex: inherit;
	}
	
	@include big_mobile() {
		flex-wrap: wrap;
		flex-direction: row;

	}
		
	.members {
		margin-bottom: 2rem;
		height: 40rem;
		width: 100%;
		position: relative;
		padding: 2rem 0;
		margin: 1rem 1rem 0 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		overflow: hidden;
		
		&:hover,
		&:focus{
			.opacity-target {
				height: 100%;
			}
		}
				
		@include big_mobile() {
			width: calc(50% - 1rem);
		}
		
		@include tablet_size() {
			width: calc(33% - 1rem);
			height: 35vw;
		}
		
		@include full_size() {
			width: calc(25% - 1rem);
			height: 37rem;
		}
		
		.member-info {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			padding: 4rem 0 2rem 0;
			background: rgb(0,0,0);
			background: linear-gradient(0deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%); 
			
			.member-name {
				color: $tan;
				font-family: $h-font;
				text-transform: uppercase;
				font-size: 3rem;
				margin-bottom: 1rem;
				letter-spacing: .1rem;
				
			}
			
			a {
				text-decoration: none;
				color: white;
				
			}
		}
		
		.opacity-target {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0,0,0,0.5);
			width: 100%;
			height: 0;
			transition: .35s ease;
			color: #fff;
			
			.members-container {
				overflow-y: scroll;
				height: 50%;
				margin: 0 auto;
				padding: 3rem;
				
				.members-title {
					color: $tan;
					font-family: $h-font;
					font-size: 2.3rem;
					position: relative;
					margin-bottom: 2.5rem;
					display: inline-block;
					
					&:before {
						position: absolute;
						height: .25rem;
						width: 33%;
						content: '';
						top: 3rem;
						left: 0;
						background-color: $tan;
					}
				}
				
				p {
					line-height: 1.75rem;
				}
				
				.members-content {
					
				}
			}
			
		}
	}
}
}
.meettheteam {
	width: 100%;
	
	&.active {
		display: flex;
		flex-wrap: wrap;
	}
	
	.mtt-container {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		
		.mtt {
			
			@include tablet_size() {
				display: flex;
				margin: 4rem;
			}
			
			&:last-of-type {
				.content-container{
					order: 1;
				}
				
				.mtt-image {
					order: 2;
				}
				
			}
			
			.mtt-image {
				width: 100%;
				
				@include tablet_size() {
					width: calc(45% - 4rem);
				}
				
				img {
					width: 100%;
					
					@include tablet_size() {
						min-height: 35rem;
						object-fit: cover;
					}
				}
				
			}
			
			.content-container {
				margin: 4rem;
				
				@include tablet_size() {
					width: calc(55% - 4rem);
					margin: 0rem 4rem;
				}
				
				&:last-of-type {
					order: 1;
				}
				
				.mtt-headline {
					padding-bottom: 1.5rem;
					display: inline-block;
					font-size: 3rem;
					font-weight: 800;
					letter-spacing: .1rem;
					font-family: $h-font;
					color: #000;
					border-bottom: 2px solid $light-blue;
				}
				
				.mtt-content {
					
					.mission-subhead {
						font-family: $h-font;
						font-size: 2rem;
						letter-spacing: 0.1rem;
						color: $grey-60;
					}
				}
			}		
		}
	}
	
	.about-cta {
		display: flex;
		align-items: center;
		position: relative;
		padding: 2rem;
		margin: 4rem;
		height: 20rem;
		
		.wrapper {
			position: relative;
			z-index: 5;
			display: flex;
			flex-direction: column;
			align-items: center;
			
			.about-headline {
				color: $navy;
				font-family: $h-font;
				font-size: 4rem;
				letter-spacing: 0.1rem;
				text-transform: uppercase;
				display: block;
				line-height: 5rem;
				text-align: center;
				margin-bottom: 2rem;
			}
			.about-social-container {
				display: flex;
				flex-direction: row;
				width: 100%;
				justify-content: center;
				
				
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 10rem;
					
					&:hover,
					&:focus {
						i {
							color: #fff;
						}
					}
					
					i {
						color: $navy;
						transition: 0.2s ease;
						display: block;
						font-size: 6rem;
					}
				}
			}
		}
	}
}	

.join {
	width: 100%;
	display: none;
		
	&.active {
		display: flex;
		flex-wrap: wrap;
	}
	
	.join-container{
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		
		@include tablet_size() {
			flex-direction: row;
			flex-wrap: nowrap;
			margin: 2rem;
		}

		.join-image{
			width: 100%;
			
			@include tablet_size() {
				width: calc(60% - 2rem);
			}
			
			
			img {
				width: 100%;
			}
		}
		
		.join-form{
			padding: 4rem;
			background: $grey-05;
			
			@include tablet_size() {
				width: calc(40% - 2rem);
				margin: 0 0 2rem 2rem;
			}
		}
	}
}	