@import "_setup/variables";
@import "_setup/mixins";

.returnsplash {
	  /* Grid styles */
		display: grid;
		align-items: center;	
		height: 20rem;
		background: $light-gray;
  
	.heading {
	  	text-align: center;
	}
}
 
.returnform {
	margin: 0 auto;
    max-width: 70rem;
    padding: 1.5rem;
    font-family: "Montserrat", sans-serif;
}