@import "_setup/variables";
@import "_setup/mixins";

@include tablet_size() {
	.woocommerce-account .woocommerce {
		display: flex;
	}

	.woocommerce-no-flex.woocommerce-account .woocommerce {
		display: block;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation {
		width: 300px;
		padding-right: 60px;
		padding-left: 30px;

		ul {
			border-right: 1px solid #707070;
			height: 100%;
			padding-right: 20px;
		}
	}

	.woocommerce-account .woocommerce-MyAccount-content {
		width: auto;
		flex-grow: 1;
		padding-right: 40px;
	}
}

.woocommerce-account .woocommerce-MyAccount-navigation {
	margin-bottom: 30px;

	ul {
		list-style-type: none;
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin: 0;

		li {
			font-size: 18px;
			padding-left: 1.2em;
			margin-bottom: 10px;
			background-position: 0 .4em;
			background-repeat: no-repeat;
			background-image: url(/wp-content/themes/viva/images/plus-icon.jpg);
		}
	}
}

.woocommerce-account .woocommerce-MyAccount-content {
	font-size: 15px;

	.woocommerce-customer-details address {
		box-sizing: border-box;
	}
}

#customer_login {
	box-sizing: border-box;
	padding: 0 20px;

	h2 {
		text-transform: uppercase;
	}

	@include tablet_size() {
		padding: 0 50px;
	}

	.woocommerce-privacy-policy-text {
		margin-bottom: 15px;
	}

	form.checkout_coupon,
	form.login,
	form.register {
		border: none;
		padding-left: 0;
		padding-right: 0;
		margin: 0 0 2em 0;
		@include tablet_size() {
			margin: 0;
		}
	}

	.woocommerce-form-login__rememberme {
		float: right;
		display: flex;

		input, span {
			width: auto;
		}

		span {
			margin-left: 5px;
		}

		input {
			margin-top: 7px;
		}
	}

	.woocommerce-LostPassword {
		margin-top: 15px;
	}
}

.woocommerce-ResetPassword {
	padding: 0 20px;
}

#customer_login,
.woocommerce-account .woocommerce .woocommerce-MyAccount-content form,
.woocommerce-account .woocommerce .woocommerce-ResetPassword {
	button.button {
		background-color: #8fd7f2;
		color: #fff;
		padding: 14px 24px;
		@include big_mobile() {
			padding: 14px 35px;
		}
		width: auto;
		text-transform: uppercase;
		font-size: 18px;
	}

	input,
	select {
		font-size: 15px;
		padding: 14px;
	}

	input,
	select,
	.select2-container {
		margin-bottom: 14px;
	}

	label {
		font-size: 15px;
	}
}

.woocommerce .woocommerce-myaccount {
	text-align: center;

	img {
		width: auto;
	}

	p {
		text-align: center;
	}

	.woocommerce-myaccount-hand {
		display: inline-block;
		border-bottom: 1px solid #e3dada;
		padding-bottom: 5px;
	}

	.woocommerce-myaccount-hello {
		font-size: 20px;
		margin: 25px 0 10px;

		a {
			text-decoration: underline;
		}
	}

	.woocommerce-myaccount-summary {
		max-width: 665px;
		margin: 0 auto;

		@include jumbo_size() {
			max-width: 100%;
		}
	}
}

#createaccount.woocommerce-form__input-checkbox {
	width: auto;
}