@import "_setup/variables";
@import "_setup/mixins";

.homepage-index {
	position: relative;
	z-index: 2;
	background: #fff;
}

#homepage-local-link {
	margin-top: -3rem;
	margin-bottom: 3rem;
	
	@include tablet_size() {
		margin-top: -16rem;
		margin-bottom: 16rem;
	}
	
	@include full_size() {
		margin-top: -8rem;
		margin-bottom: 8rem;
	}
}
	
.hero {
  background-size: cover;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));	
  height: 90vh;
  background-position: left center;
  width: 100%;
  min-height: 60rem;

  
  	@include tablet_size() {
			background-position: center center;
	}
  
  	.herocontent {
	  	color: white;
	  	font-family: $h-font;
	  	font-size: 4rem;
	  	letter-spacing: 3px;
	  	text-align: center;
	  	bottom: 0;
	  	padding-bottom: 3rem;
	  	margin: auto;
	  	margin-top: 40rem;
	  	
	  	}
	  	
	  	h2 {
		  	color: white;
		  	font-family: $h-font;
		  	font-size: 4rem;
		  	letter-spacing: 3px;
		  	
	  	}
	  	
	  	p {
		  	font-family: $p-font;
	  	}
	  	
	  	.button_preorder {
			padding: 1rem 2rem;
			margin-top: 3rem;
			border-radius: 6px;
			background-color: $tan;
			color: $navy;
			font-size: 2rem;
			font-family: $h-font;
			display: inline-block;
			transition: 0.2s ease;
			
			&:hover,
			&:focus {
				background: $navy;
				color: $tan;
			}
		}
}

.splashimage {
  height: 80vh;
}

.mission {
	background: $tan;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 26rem;
	padding: 4rem;
	
	@include tablet_size() {
		flex-direction: row;
	}

	.cta-container {
		width: 100%;
		text-align: center;
		
		h2 {
		  	color: #fff;
		  	font-family: $h-font;
		  	font-size: 5rem;
		  	letter-spacing: 3px;
		  	font-weight: 800;
		  	letter-spacing: .2rem;
		  	
	  	}
	  	
	  	p {
		  	background-color: #fff;
		  	color: $navy;
		  	font-size: 1.75rem;
		  	text-transform: uppercase;
		  	padding: 1rem;
		  	line-height: 2rem;
		  	margin-top: 1rem;
		  	font-weight: 800;
	
	  	}
		
		.cta-content {
									  	
		  	p {
			  	background-color: transparent;
			  	color: #fff;
			  	text-transform: inherit;
			  	font-size: 1.25rem;
			  	font-weight: 200;

			  	
			  	@include tablet_size() {
					margin-left: -1rem;
				}
			  		
		  	}
	  	}
		
		@include tablet_size() {
			width: calc(40% - 1rem);
			text-align: left;
		}
		
		.button-container {
			.button {
				margin: 0;
				border: 0.125rem solid;
			    transition: 0.2s ease;
			    color: #8FD7F2;
			    margin-top: 1.5rem;
			    font-family: "Barlow Condensed", sans-serif;
			    font-size: 1.75rem;
			    font-weight: 400;
			    
			    &:hover {
				    background-color: $light-blue;
				    color: $navy;
			    }

			}
		}
	}
	
	.cta-image {
	
	}
}

.shop {
	text-align: center;
	font-family: $h-font;
	font-size: 3rem;
	padding: 3rem 0;
}

.grid-container{
	display: grid;
	padding: 15px;
	margin: 0 auto;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 2rem;
	grid-auto-rows: 45rem; 
	max-width: 130rem;
	
	
		@include tablet_size() {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 2rem;
		}
	
		@include full_size() {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 2rem;
		}
	
	
	.cta_products {
		color: $tan;
		background-color: #ff4f4f;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		font-family: $h-font;
		transition: 0.2s ease;
		
		&:hover,
		&:focus {
			opacity: .7;
		}
		
		.sorting {
			padding-bottom: 30px;
			font-size: 3rem;
			text-shadow: 7px 4px 4px $navy;
			font-family: $h-font;
			color: #fff;
		}

	}
	
	.cta_products:nth-child(even) {
		background-color: #931d1d;
	}
}	