@import "_setup/variables";
@import "_setup/mixins";

/* Splash Styling
===============================================================================================*/

.productheading {
	color: white;
	text-align: center;
	font-family: $h-font;
	font-size: 5rem;
	position: relative;
	z-index: 5;
}

.splash2 {
  /* Photo by mnm.all on Unsplash */
  background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
  background-size: cover;

  /* Grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));	
  height: 20rem;
  background: blue;
 
}

.productsplash {
	height: 20rem;
	display: grid;	
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	position: relative;
	
	@include tablet_size () {
		height: 25rem;
	}
	
	@include full_size () {
		height: 30rem;
	}
	
	&:after {
		background: rgb(0,0,0);
 		background: radial-gradient(circle, rgba(49,52,60,0.5) 0%, rgba(0,0,0,0) 38%); 
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;		
	}
	
	.backgroundUnderlay{
		background-color: rgba(0, 0, 0, 0.3);	
		margin: 0px 40%;
	}
	
	.productheading{
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	
	.leftimage {
		background-color: blue;
	}
	
	.rightimage {
		background-color: black;
		display: none;
		
		@include tablet_size() {
			display: inherit;
		}
	}
	
}

.collectioncta {
		font-size: 2rem;
		padding: 2rem 2rem;
		text-transform: uppercase;
		font-family: $p-font;
		font-weight: 800;
		letter-spacing: .5rem;
		line-height: 3rem;
		text-align: center;
		color: $navy;
		
		@include tablet_size() {
			font-size: 3rem;
			padding: 4rem 2rem;
			text-align: left;


		}

	}


/* Product Styling
===============================================================================================*/

.products {
	margin: 0 2rem;
	
	@include big_mobile() {
		display: flex;
		flex-wrap: wrap;
	}


	.productBlock{
		background-color: white;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 2rem;
		
		&:hover,
		&:focus {
			opacity: .7;
			cursor: pointer;
		}
		
		
		
		@include big_mobile() {
			width: calc(50% - 1rem);
			margin: 0.5rem;
		}
		
		@include tablet_size() {
			width: calc(33% - 1rem);
		}
		
		@include full_size() {
			width: calc(25% - 1rem);
		}
		
		
		img {
			width: 100%;
			display: block;
			max-height: 40rem;
			object-fit: cover;
			height: 115vw;
			
			@include big_mobile() {
				height: 60vw;
			}
			
			@include massive_size() {
			max-height: 60rem;
			}
		}
		
		.productdetail {
		    text-align: right;
		    font-family: $h-font;
		    color: $navy;
		    padding: .8rem 0rem;
		    font-weight: 800;
		    font-size: 2rem;
			border-bottom: 1px solid grey;
			
			li {
				padding-right: 1rem;
				
				&:last-of-type {
					padding: 0;
				}
			}
			
			.producthex {
				text-align: left;
				flex: auto;
				letter-spacing: .1rem;
				border-radius: 50%;
				height: 2.5rem;
				max-width: 2.5rem;
				float: left;
				border: .1rem #e2e2e2 solid;
			}
			
		}
		
		.productName {
			font-family: $h-font;
			letter-spacing: .1rem;
			color: $navy;
			text-transform: uppercase;
			order: 2;
			margin-top: .5rem;
			font-size: 2.2rem;
			line-height: normal;
		}
	
		.productPrice {
			color: $grey-50;
			font-family: $h-font;
			order: 3;
			font-size: 2rem;
			letter-spacing: .1rem;
			
			.price {
				
				ins {
					color: #ff0000;
					font-weight: 800;
				}
				
			}
			
		}
	}
}

/* Product Modal
-----------------------------------------------------------------*/

#overFlow {
		display:none;
		position: fixed;
	    width: 50%;
	    height: 100vh;
	    background: black;
	    z-index: 100;
	    top: 0;
		opacity: .5;
		cursor: pointer;
	}
	

#productModal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background: #fff;
    z-index: 100;
    right: 0px;
	display:none;
	overflow-y: scroll;
	overflow-x: hidden;
	
	@include tablet_size() {
		width: 50%;
	}
	


	
	.close {
		width: 5rem;
		height: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		position: fixed;
		top: 1rem;
		right: 0;
		z-index: 200;
		
			&:hover,
			&:focus {
				i {
					color: #fff;
				}
			}
		
		i {
			font-family: $font-awesome-pro;
			font-weight: 800;
			font-style: normal;
			font-size: 3rem;
			color: $navy;
			transition: 0.2s ease;
		}
	}
	
	.modalImg {
		width: 100%;
		height: auto;
		padding: 1rem;
	}
	
	.lSSlideOuter {
		display: flex;
		flex-direction: column;
		height: 65vh;
		
		@include big_mobile() {
			flex-direction: row;
			
		}
	
		
		.lSSlideWrapper {
			width: 100%;
			
			@include big_mobile() {
				width: calc(70% - 2rem);
			}
		}
		
		.lSGallery {
			width: 100% !important;
			
			@include big_mobile() {
				width: calc(20% - 1rem) !important;
				margin: 5rem 1rem 0 1rem;
				overflow-y: scroll;
			}
			
			li {
				width: 7rem !important;
				height: 7rem;
				
				@include big_mobile() {
					width: 100% !important;
					height: 9rem;
					margin-top: 1.5rem;
				}
			}
			
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
	
	#lightSlider {
	    list-style: none outside none;
	    padding-left: 0;
	    margin-bottom:0;
	    max-height: 45rem;
	    overflow: visible;
	}
	
	.slider-list {
	    display: block;
	    float: left;
	    margin-right: 6px;
	    cursor:pointer;
	    max-height: 45rem;
	}
	
	.slider-image {
	    display: block;
	    height: auto;
	    max-width: 100%;
	}
	
	.modalName {
		font-family: $h-font;
		display: inline-block;
		margin-left: 2rem;
		font-size: 4rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		font-weight: 800;
		margin-top: 2rem;
		line-height: 4.5rem;
	}
	
	.modalPrice {
		font-family: $h-font;
		font-size: 2.5rem;
		font-weight: 400;
		padding-left: 2rem;
		color: $grey-50;
		padding-top: .5rem;
		
		.price {
				
			ins {
				color: #ff0000;
				font-weight: 800;
			}
		
		}

	}
	
	
	.productselect {
		
		display: block;
		margin-top: 1rem;
		
			.modalButton,
			button,
			input[type="submit"],
			input[type="button"] {
				font-family: $h-font;
				letter-spacing: 0.05rem;
				font-weight: 800;
				background: $light-blue;
				border: 0.1rem solid $navy;
				border-radius: .5rem;
				color: $navy;;
				cursor: pointer;
				display: inline-flex;
				justify-content: center;
				font-size: 1.3rem;
				text-transform: uppercase;
				transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
				width: 11rem;
				margin-right: 1rem;
				float: right;
				padding: .9rem 3rem;

				
				&:hover,
				&:focus {
					background: $tan;
					border-color: $tan;
					color: $navy;
					outline: none;
				}
				
				&::-moz-focus-inner {
					border: 0;
				}
				
				&.secondary {
					background: none;
					color: #000;
					
					&:hover,
					&:focus {
						color: $grey-50;
					}
				}
				
				i {
					height: 1.25rem;
				}
				
				.button-text {
					display: block;
					text-align: center;
				}
			}

			
			#sizes {
				border-radius: .5rem;
			    padding: 1rem 5rem 1rem 1rem;
			    font-size: 2rem;
				width: 15rem;
			    font-family: $h-font;
			    color: #fff;
			    background-color: $navy;
			    margin-left: 1rem;
			    cursor: pointer;
			    margin-left: 2rem;
				-webkit-appearance: none;
				
			  background-image:
			    linear-gradient(45deg, transparent 50%, gray 50%),
			    linear-gradient(135deg, gray 50%, transparent 50%),
			    linear-gradient(to right, #ccc, #ccc);
			  background-position:
			    calc(100% - 20px) calc(1em + 2px),
			    calc(100% - 15px) calc(1em + 2px),
			    calc(100% - 2.5em) 0.5em;
			  background-size:
			    5px 5px,
			    5px 5px,
			    1px 1.5em;
			  background-repeat: no-repeat;


			    
				&:hover,
					&:focus {
						i {
							color: #fff;
						}
					}
			    
			}
		
	}
	
	.modalDesc {
		font-family: $p-font;
		font-size: 1.2rem;
		width: 80%;
		margin: 1.5rem 1rem;
		line-height: 2.5rem;
		margin-left: 2rem;
		border-left: 2px solid $light-blue;
		top: 0;
		bottom: 0;
		padding-left: 2rem;
			
	}
	
}

/* When someone adds something to the cart
-----------------------------------------------------------------*/

.cartalert{
	background-color: $navy;
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 30rem;
    z-index: 12;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%);

    .success{
	    text-align: center;
		padding: 3rem;
		color: #fff;
		line-height: 2rem;
		font-size: 4rem;
    }
    
    .cartcta {
	    background: #8FD7F2;
		padding: 1rem;
    }
}