
@import "_setup/variables";


/* "Big" Mobile Size
----------------------------------------------------------------------------------------------------*/
@mixin big_mobile() {
	@media screen and (min-width: #{$big-mobile}) {
		@content;
	}
}

/* Tablet Size
----------------------------------------------------------------------------------------------------*/
@mixin tablet_size() {
	@media screen and (min-width: #{$tablet}) {
		@content;
	}
}

/* Full Size
----------------------------------------------------------------------------------------------------*/
@mixin full_size() {
	@media screen and (min-width: #{$full-size}) {
		@content;
	}
}

/* Jumbo Size
----------------------------------------------------------------------------------------------------*/
@mixin jumbo_size() {
	@media screen and (min-width: #{$jumbo-size}) {
		@content;
	}
}

/* 4k Size
----------------------------------------------------------------------------------------------------*/
@mixin massive_size() {
	@media screen and (min-width: #{$massive-size}) {
		@content;
	}
}

/* @mixin coleman() {
	font-family: $h-font;
	text-transform: uppercase;
	color: red;
	font-size: 18rem;
} */


/* Font Awesome icons
==================================================================================================== 
Need to style a pseudo element with Font Awesome? How to use: 

.some-class:before {
    @include fontawesome($font-awesome-pro, 400, '\f107');
}
*/

@mixin fontawesome($family, $weight, $unicode) {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: $family;
    font-weight: $weight;
    content: $unicode;
}