
/* Breakpoints
====================================================================================================*/
$big-mobile: 31.25em; // 500px
$tablet: 48em; // 768px
$full-size: 62.5em; // 1000px
$jumbo-size: 75em; // 1200px
$massive-size: 100em; // 1600px



/* Colors
====================================================================================================*/

$navy: #31343C;
$dark-gray: #757983;
$dark-navy: #26292F;
$footer-gray: #26292F;
$light-gray: #EAEAEA;
$tan: #F1E2C7;
$white: #FFFFFF;
$light-blue: #8FD7F2;

/* Alert Colors
----------------------------------------------------------------------------------------------------*/
$alert-color: #cc3333;

/* Grey colors
----------------------------------------------------------------------------------------------------*/
$grey-95: #141414;
$grey-90: #1e1e1e;
$grey-85: #262626;
$grey-80: #333333;
$grey-75: #404040;
$grey-70: #4d4d4d;
$grey-65: #595959;
$grey-60: #666666;
$grey-55: #737373;
$grey-50: #808080;
$grey-45: #8c8c8c;
$grey-40: #999999;
$grey-35: #a6a6a6;
$grey-30: #b3b3b3;
$grey-25: #bfbfbf;
$grey-20: #cccccc;
$grey-15: #d9d9d9;
$grey-10: #e6e6e6;
$grey-05: #efefef;



/* Fonts
====================================================================================================*/

$p-font: 'Montserrat', sans-serif;
$h-font: 'Barlow Condensed', sans-serif;
$font-awesome-pro: 'Font Awesome 5 Pro';
$font-awesome-brands: 'Font Awesome 5 Brands';



/* Nav & Banner Heights
====================================================================================================*/
$nav-height-mobile: 3.75rem;
$nav-height-tablet: 10rem;
$nav-height-full: 4.5rem;
$image-header-height: 18.75rem;
